{% extends 'admin/_base.html.twig' %}
{% block title %}
    Admin Content
{% endblock %}
{% block content %}
    <div class="main-section">
        <h3>Current Pages with Content</h3>
        <p>
            {% for page in pages %}
                <h4>{{ page.pagename }}</h4>
                {% for content in content %}
                    {% if page.pagename == content.pagename %}
                        <p><strong>{{ content.contentitemtitle }}</strong></p>
                        <p>{{content.contentitem }}</p>
                        <p>{{ content.created }}</p>
                        <p>{{ content.contentid }}</p>
                        <a href="{{ app.request.basepath }}/admin/process-delete-content/{{ content.contentid }}" onclick="return confirm('Sure you want to delete this post?');">Delete?</a>
                        <a href="/admin/edit-content">Edit?</a>
                        <a href="/admin/view-single-content/{{ content.contentid }}">View?</a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </p>
        <p>
            {% if result is defined %}
                {{ result }}
            {% endif %}
        </p>
    </div>
{% endblock %}