{% extends 'admin/admin_base.html.twig' %}


{% block title %}
Admin dashboard
{% endblock %}



{% block navbar %}
    <a href="{{ path('admin_logout') }}">Logout</a>
    <p>
        Welcome home,{{ user.username }}
        {{ id }}
    </p>
{% endblock %}

{% block content %}

    <div class="main-section">
        <h3>Current Pages</h3>
        <p>
            {% for page in pages %}
            {{ page.pagename }}
            {% endfor %}
        </p>
        <p>
            {% if result is defined %}
            {{ result }}
            {% endif %}
        </p>
    </div>


{% endblock %}
