{% extends 'admin/admin_base.html.twig' %}
{% set pagesSubNav = [['dashboard', 'Dashboard'], ['create-page', 'Create a new web-page'], ['view-pages', 'View current pages'], ['delete-page', 'Remove a page']] %}
{# set the active page to be styled. Do this on every different page #}
{% set active_page = 'delete-page' %}

{% block title %}
Admin delete form
{% endblock %}



{% block navbar %}
    <a href="{{ path('admin_logout') }}">Logout</a>
    <p>
        Welcome home,{{ user.username }}
        {{ id }}
    </p>
{% endblock %}

{% block settings_nav %}
<div class="menu-sidebar">
    {% include 'admin/admin_pagesSubNav.html.twig' %}
</div>
{% endblock %}
{% block content %}

    <div class="main-section">
        <h3>Current Pages</h3>
        <form class="deletePageForm" action="/admin/process-delete-page" method="post">
            {% for page in pages %}
            <input type="radio" name="pagename" value="{{ page.pagename }}" checked>{{ page.pagename }}<br>
            <input type="hidden" name="pagetemplate" value="{{ page.pagetemplate }}"/>
            {% endfor %}
            <input type="submit" value="delete" onclick="return confirm('Sure you want to delete this page?');">
        </form>


        <p>
            {% if result is defined %}
            {{ result }}
            {% endif %}
        </p>
    </div>


{% endblock %}
