{% extends 'admin/_base.html.twig' %}


{% block title %}
Admin Pages
{% endblock %}

{% block content %}


<div class="main-section">

        {% for content in allcontent %}
        <div class="delete-box">
        <p>
            {{ content.contentid }}
        </p>
        <p>
            {{ content.contentitemtitle }}
        </p>
        <p>
            {{ content.contentitem }}
        </p>
        <p>
            {{ content.created }}
        </p>
        <a href="/admin/process-delete-content/{{ content.contentid }}">Delete?</a>
</div>

{% endfor %}

        {% if result is defined %}
        {{ result }}
        {% endif %}
    </p>


        <p>


        </p>



</div>



{% endblock %}
