{% extends 'admin/admin_base.html.twig' %}
{% set pagesSubNav = [['dashboard', 'Dashboard'], ['create-page', 'Create a new web-page'], ['view-pages', 'View current pages'], ['delete-page', 'Remove a page']] %}
{# set the active page to be styled. Do this on every different page #}
{% set active_page = active_page|default('dashboard') %}



{% block title %}
Admin Pages
{% endblock %}



{% block navbar %}
    <a class="admin-button" href="{{ path('admin_logout') }}"><span class="button">Logout</span></a>
    <p>
        Welcome home,{{ user['username'] }}
        {{ id }}
    </p>
{% endblock %}

{% block settings_nav %}
<div class="menu-sidebar">
    {% include 'admin/admin_pagesSubNav.html.twig' %}
</div>
{% endblock %}

{% block content %}
<div class="main-section">
    <h3>Current Pages</h3>
    <p>Below is a list of your current pages</p>
    <p>
        Use the navbar to edit your pages.
    </p>
    <table>
    <tr>
        <th>
            PAGE
        </th>
        <th>
            DATE CREATED
        </th>
    </tr>

        {% for page in pages %}
        <tr>
        <td>{{ page.pagename }}</td>
        <td>{{ page.created }}</td>
        </tr>
        {% endfor %}


</table>
    <p>
        {% if result is defined %}
        {{ result }}
        {% endif %}
    </p>
</div>
{% endblock %}
