{% extends '_base.html.twig' %}
{% block title %}
    Admin Content
{% endblock %}
{% block content %}
    <div class="main-section">
        <p>
           {% if image is defined %}
                <img src="{{ app.request.basepath }}{{ image|raw }}">
            {% endif %}
                <p><strong>{{ contentitemtitle }}</strong></p>
                <p>{{ contentitem }}</p>
                <p>{{ created }}</p>
                
                <a href="{{ app.request.basepath }}/admin/process-delete-content/{{ contentid }}" onclick="return confirm('Sure you want to delete this post?');">Delete?</a>
                <a href="/admin/edit-content">Edit?</a>
           
        </p>
        <p>
            {% if result is defined %}
                {{ result }}
            {% endif %}
        </p>
    </div>
{% endblock %}