{% extends 'admin/admin_base.html.twig' %}


{% block title %}
Admin Pages
{% endblock %}



{% block navbar %}
    <a href="{{ path('admin_logout') }}">Logout</a>
    <p>
        Welcome home,{{ user['username'] }}
        {{ id }}
    </p>
{% endblock %}

{% block settings_nav %}
    <div class="menu-sidebar">
        <ul class="admin-nav">
            <li class="admin-nav"><a class="admin-button" href="/admin/dashboard"><span class="button">Dashboard</span></a></li>
            <li class="admin-nav"><a class="admin-button" href="/admin/create-page"><span class="button">Create a new web-page</span></a></li>
            <li class="admin-nav" ><a id="active-page" class="admin-button" href="/admin/view-pages"><span class="button">View current pages</span></a></li>
            <li class="admin-nav"><a class="admin-button" href="/admin/delete-page"><span class="button">Remove a page</span></a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="main-section">
    <h3>Current Pages</h3>
        {% for page in pages %}
        <div class="page-preview-box">
            <h4>{{ page.pagename }}</h4>
                {% for content in allcontent %}
                    {% if page.pagename == content.pagename %}
                        <p>{{ content.contentitemtitle }}</p>

                    {% endif %}

                {% endfor %}


                <ul>
                    <li><a class="admin-button" href="/{{ page.pagepath }}" target="_blank"><span class="button">Preview</span></a></li>
                </ul>


                </div>
        {% endfor %}
        <p>
            {% if result is defined %}
            {{ result }}
            {% endif %}
        </p>

{% endblock %}
{% block iframe %}


{% endblock %}
{% block javascript %}


{% endblock %}
