{% extends 'base.html.twig' %}

{% set active_page = 'about' %}

{% block title %}
{{ active_page }}
{% endblock %}





{% block subheading %}<h2></h2>{% endblock %}

{% block content %}
    {% if content is defined %}
        {% for con in content %}
            <article class="section">
                <a href="/{{ con.pagename }}/{{ con.contentid }}">{{ con.contentitemtitle }}</a>
                <p>
                    {{ con.contentitem|slice(0,100) }}...<a href="/{{ con.pagename }}/{{ con.contentid }}">read more</a>
                </p>
                <p>
                    {{ con.created }}
                    <img class="cal-icon" src="{{ app.request.basepath }}images/calendar.svg" alt="calender pic"/>
                </p>
                <div class="comment-box">
                    <p>
                        comments:
                    </p>
                </div>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}
