{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'home' %}
{% block title %}
{{ active_page }}
{% endblock %}


{# {% block header %}

{% endblock %} #}





{% block subheading %}<h2 id="account-login">Your home blog posts...</h2>{% endblock %}


{% block content %}
    {% if content is defined %}
        {% for con in content %}
            <article class="section">
                <h3>{{ con.contentitemtitle }}</h3>
                <p>{{ con.contentitem }}</p>
                <p>
                    {{ con.created }}
                    <img class="cal-icon" src="{{ app.request.basepath }}images/calendar.svg" alt="calender pic"/>
                </p>
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}
