{# base template from which all other templates will extend #}
{% set active_page = pageName|default('home') %}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    CMS |{% block title %}{% if pageName is defined %}{{ pageName }}{% endif %}{% endblock %}
    </title>
    <style>
    {% block style %}
        @import url(https://fonts.googleapis.com/css?family=Raleway);
        @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600italic);
        @import '{{ app.request.basepath }}/css/default_theme.css';
    {% endblock %}
    </style>
</head>
<body>
    <header class="header-box" style="background-image: url('{{ app.request.basepath }}{{ app.image }}')">
        {% block header %}
            <h1 class="title">{{ app.title }}</h1>
        {% endblock %}
    </header>
    {# the navbar #}
    <nav class="navbar">
        <ul>
            {% block navbar %}
                {% include 'navbar.html.twig' %}
            {% endblock %}
        </ul>
    </nav>
    
    {# main content area #}
    <div class="content-container">
        <div class="side-section-sm">
            <h3>Search site</h3>
            
                <form id="searchForm">
                    <input type="text" placeholder="Search" class="input-box" onkeyup="showResult(this.value)">
                    <div id="livesearch"></div>
                </form>
            
            <h2>Older Posts</h2>
            {% block sidebar %}
            {% if content is defined %}
            {% for con in content %}
                <a class="readmore-link" href="/{{ con.pageName }}/{{ con.contentId }}">{{ con.contentItemTitle }}</a><br>
            {% endfor %}
            {% endif %}
        {% endblock %}
        
        </div>
        {% block content %}
            {% include 'content.html.twig' %}
        {% endblock %}
    </div>
    {# a space for a link to go backwards in the navigation tree #}
   <hr>
    {# the footer #}
    <footer class="footer">
        {% include 'footer.html.twig' %}
    </footer>
    {# javascript functions #}
    {# the javscript functions will not be available on every page #}
    {# so when they're needed, include them in a block in a template #}
    {% block javascript %}
        <script src="{{ app.request.basepath }}/js/ajax.js"></script>
    {% endblock %}
</body>
</html>